*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Arial, Helvetica, sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background: linear-gradient(135deg, #1a0505 0%, #0d0d0d 100%);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#titulo h1 {
  display: flex;
  justify-content: center;
  color: rgb(255, 187, 0);
  font-size: 3rem;
  padding-top: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 0 0 10px rgba(255, 187, 0, 0.5);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 4rem;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.container-filme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 550px;
  width: 400px;
  gap: 6rem;
  padding: 4rem;
  background-color: #0d0d0d;
  border-radius: 1.2rem;
  box-shadow: 10px 10px 25px rgba(255, 187, 0, 0.567);
  transition: all 0.3s ease;
  cursor: pointer;
}

.container-filme:hover {
  transform: translateY(-20px);
  box-shadow: 10px 10px 35px rgb(255, 187, 0);
}

.poster {
  height: 20rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

p {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  color: white;
  width: 20rem;
  font-size: 1.2rem;
  font-weight: bold;
}


#rodape footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 1rem;
    border-top: #f4a410 solid ;
    width: 100%;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.132);
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: #f4a410;
    text-shadow: 0 0 10px rgba(255, 187, 0, 0.5);
}